<div class="badges">
    <div class="badge">
      <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    </div>
    <div class="badge">
      <a href="https://www.linkedin.com/in/bmweiner"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <div class="badge">
      <a href="https://github.com/bmweiner"><i class="fa fa-github-square"></i></a>
    </div>
    <div class="badge">
      <a href="https://www.strava.com/athletes/bmweiner"><i class="fa fa-heart"></i></a>
    </div>
</div>
