// default elements
body {
  font: 100% $font-stack;
  color: $font-color;
}
a {
   color: $link-color;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}
blockquote {
  padding: 5px;
  background-color: $blockquote-background-color;
  p {
    margin: 0;
  }
}
table, th, td {
  border: 1px solid $bar-color;
}
th, td {
  padding: 5px;
  text-align: left;
}
table {
  border-collapse: collapse;
  margin: 5px;
}
thead {
  // background-color: $background-color;
}

//generic
.center {
  text-align: center;
}

// components
.logo {
  margin: 0;
  font-size: 1.50em;
  font-weight: bold;
  a {
    color: $font-color;
    text-decoration: none;
  }
}
.nav {
  display: flex;
  .nav-item {
    padding: .25em .75em;
    &:hover {
      border-bottom: 1px solid $bar-color;
      a {
        color: $font-hover-color;
      }
    }
  }
  a {
    color: $font-color;
    text-decoration: none;
    text-transform: uppercase;
  }
  .active {
    @include border-radius(10px);
    background-color: $nav-active-background-color;
    &:hover {
      border: none;
      a {
        color: $font-color;
      }
    }
  }
}
.badges {
  display: flex;
  font-size: 28px;
  .badge {
    padding: 0 0.1em;
  }
  a {
    color: $font-color;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $font-hover-color;
    }
  }
}
.post {
  .post-time {
    color: $font-color-alt;
  }
}
.media-posts {
  a {
    color: $font-color;
    text-decoration: none;
  }
  .post-title {
    margin: 0;
  }
  .post-time {
    display:block;
    margin: 5px 0;
    color: $font-color-alt;
  }
  .post-summary {
    margin: 0;
  }
  .media-post {
    &:hover {
      background-color: $post-hover-background-color;
      .post-image {
        opacity: 0.5;
      }
    }
  }
  .media-post-alt {
    position: relative;
    .post-title, .post-time {
      position: absolute;
      padding: 1px;
      left: 10px;
      background: rgba(0, 0, 0, 0.7);
    }
    .post-title {
      top: 10px;
      color: white;
    }
    .post-time {
      top: 40px;
    }
    .post-summary { display: none; }
    .crop {
      display: flex;
      align-items: center;
      height: 13rem;
      overflow: hidden;
      background-color: $background-color;
      @media screen and (max-width: $medium-screen) {
        height: 11rem;
      }
      @media screen and (max-width: $small-screen) {
        height: 9rem;
      }
    }
    .post-image {
      width: 100%;
    }
  }
}

.archive-posts {
  .post-category {
    text-decoration: none;
    color: $font-color;
  }
}
.categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.headshot {
  img {
    float: right;
    width: 200px;
    border: 5px solid black;
    margin: 20px 0px 5px 5px;
    }
    text-align: center;
    @media screen and (max-width: $small-screen) {
      img {
        float: none;
        clear: both;
      }
  }
}
.section-bar {
  border-bottom: 5px solid $bar-color;
}
.post-bar {
  border-bottom: 1px solid $bar-color;
  margin: 10px 5px;
}

.social-buttons{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: .25em .75em;
    border: none;
    @include border-radius(10px);
    &:hover {
      border: none;
      color: $font-color;
      background-color: $nav-active-background-color;
    }
  }
}

.graphs{
//  width: 750px;
}
.graph{
  margin: 10px auto;
}
.graph-title{
  padding: 1px;
  padding-left: 5px;
  border: 1px solid $bar-color;
  margin: 0px;
  background-color: $background-color;
}
.graph-err-msg{
  margin: 5px;
  text-align: center;
}
.graph-content{
  border: 1px solid $bar-color;
  border-top: 0px;
}
.graph-metrics{
  display: flex;
  justify-content: space-around;
  padding: 1px;
  border: 1px solid $bar-color;
  border-top: 0px;
  text-align: center;
  .metric-name {
      margin: 0;
      color: $font-color-alt;
  }
  .metric-val {
    margin: 0;
  }
}
.graph-tbl{
  padding: 1px;
  border: 1px solid $bar-color;
  border-top: 0px;
  overflow-x: auto;
  .graph-tbl-title{
    margin: 5px;
    text-align: center;
  }
  table, th, td {
    border: 1px solid $bar-color;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  table {
    border-collapse: collapse;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  thead {
    background-color: $background-color;
  }
}

#visits {
  .views-line {
    fill: none;
    stroke: $views-color;
    stroke-width: 1.5px;
  }
  .views-point {
    fill: $views-color;
  }
  .views-axis {
    text {
      fill: $views-color;
    }
  }
  .views-metric {
    .metric-val {
      color: $views-color;
    }
  }
  .users-bar {
    fill: $users-color;
  }
  .users-axis {
    text {
      fill: $users-color;
    }
  }
  .users-metric {
    .metric-val {
      color: $users-color;
    }
  }
}

#locations {
  .state-border{
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
  }
  table {
    width: 70%;
    @media screen and (max-width: $medium-screen) {
      width: 80%;
    }
    @media screen and (max-width: $small-screen) {
      width: 90%;
    }
  }
}

#platforms {
  .graph-content{
    svg text {
      font-family: FontAwesome;
      font-size: 16;
      text-anchor: middle;
      dominant-baseline: central;
    }
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    align-items: center;
    // align-content: center;
    li{
      padding: 10px;
      margin: 10px;
      .fa{
        font-size: 32px;
      }
      p {
        display: inline-flex;
        padding-left: 6px;
        margin: 0px;
        vertical-align: 5%;
        font-size: 24px;
      }
    }
  }
}

#documents{
  table {
    width: 80%;
    @media screen and (max-width: $medium-screen) {
      width: 80%;
    }
    @media screen and (max-width: $small-screen) {
      width: 90%;
    }
  }
}

// sections
.cover {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  .nav {
    margin: 5px 0px;
  }
}
.page {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-height: 100vh;
  margin:auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em;
  margin-left: 10%;
  margin-right: 10%;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
    .logo {
      text-align: center;
      margin-bottom: 0.25em;
    }
  }
}
.content {
  flex: 1;
  flex-basis: auto;  //IE 11 fix
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0.25em;
  margin-left: 10%;
  margin-right: 10%;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
}
.footer-item {
  width: 128px;
}
.footer-copyright{
  text-align: center;
  font-size: 0.75em;
  margin-left: 10%;
  margin-right: 10%;
  a, p {
    margin-bottom: 2px;
  }
}
