---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <p>
    <time class="post-time"
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time> | <a href="/archive/#{{ page.category }}">{{ page.category }}</a>
  </p>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% if page.modified %}
  <br>
  <time class="post-time"
        datetime="{{ page.modified | date_to_xmlschema }}"
        itemprop="dateModified">
    modified: {{ page.modified | date: "%b %-d, %Y %r" }}
  </time>
  {% endif %}
  <p><i class="fa fa-tag"></i> {{ page.tags | join: ', '}}</p>
  <div class="post-bar"></div>
</article>
<div class=social-buttons>
  <button id=like-button><i class="fa fa-thumbs-o-up"></i> Like</button>
</div>

<script src ="/scripts/app/post.js"></script>
